# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\c projects\C programming\star diamond\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
